<%= form_with model: copy do |form| %>
  <div>
    <%= form.label :book_id %><br>
    <%= form.select :book_id, Book.all.map { |book| [book.title, book.id] } %>
    <% copy.errors.full_messages_for(:book_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :borrower %><br>
    <%= form.text_field :borrower %>
    <% copy.errors.full_messages_for(:borrower).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :due_date %><br>
    <%= form.date_field :due_date %>
    <% copy.errors.full_messages_for(:due_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>