<section class="hero is-primary">
  <div class="hero-body">
    <h1 class="title is-1"><%= @copy.book.title %> Copy <%= @copy.id %></h1>
  </div>
</section>
<section class="container is-fluid">
  <div class="block">
    <p>Author: <%= @copy.book.author %></p>
    <p>ISBN: <%= @copy.book.ISBN %></p>

    <p>Borrower: <%= @copy.borrower %></p>
    <time>Due Date: <%= @copy.due_date %></time>
  </div>

  <div class="block">
    <ul>
      <li><%= link_to "Edit", edit_copy_path(@copy) %></li>
      <li><%= link_to "Destroy", copy_path(@copy), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %></li>
    </ul>
  </div>

</section>
