<%= render "shared/bookish_header", subtitle: @copy.book.title + " Copy " + @copy.id.to_s %>
<section class="container is-fluid">
  <div class="block">
    <p>Author: <%= @copy.book.author %></p>
    <p>ISBN: <%= @copy.book.ISBN %></p>

    <p>Borrower: <%= @copy.borrower %></p>
    <time>Due Date: <%= @copy.due_date %></time>
  </div>

  <div class="block">
    <ul>
      <li><%= link_to "Edit", edit_copy_path(@copy) %></li>
      <li><%= link_to "Destroy", copy_path(@copy), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %></li>
    </ul>
  </div>

</section>
