<%= form_with model: book do |form| %>
  <div>
    <%= form.label :title, :class => "label" %><br>
    <%= form.text_field :title, :class => "input" %>
    <% book.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :author, :class => "label" %><br>
    <%= form.text_area :author, :class => "input" %>
    <% book.errors.full_messages_for(:author).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :ISBN, :class => "label" %><br>
    <%= form.text_area :ISBN, :class => "input" %>
    <% book.errors.full_messages_for(:ISBN).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :cover_image, :class => "label" %><br>
    <%= form.file_field :cover_image, :class => "input", accept: "image/jpeg" %>
    <% book.errors.full_messages_for(:cover_image).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="block">
    <%= form.submit :class => "button" %>
  </div>
<% end %>