<%= render "shared/bookish_header", subtitle: @book.title %>
<section class="container is-fluid">
  <div class="block">
    <div class="block">
      <h1 class="title"></h1>
    </div>
    <div class="block">
      <p>Author: <%= @book.author %></p>
      <p>ISBN: <%= @book.ISBN %></p>
    </div>

    <div class="block">
      <ul>
        <li><%= link_to "Edit", edit_book_path(@book) %></li>
        <li><%= link_to "Destroy", book_path(@book), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %></li>
      </ul>
    </div>


  </div>

  <div class="block">
    <div id="copies-info-container">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <h2 class="subtitle is-3">Copies</h2>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a class="button is-small is-link" href="<%= new_copy_path %>?book_id=<%= @book.id %>" id="add-copy">
              <span class="material-symbols-outlined">
              add
              </span>
              <span>
                Add Copy
              </span>
            </a>
          </div>
        </div>
      </nav>


      <table class="table">
        <thead>
        <tr>
          <th>
            Copy Number
          </th>
          <th>
            Borrower
          </th>
          <th>
            Due Date
          </th>
        </tr>
        </thead>
        <tbody>
        <% @book.copies.each do |copy| %>
          <tr>
            <td>
              <%= link_to copy.id, copy_path(copy) %>
            </td>
            <td>
              <%= copy.borrower %>
            </td>
            <td>
              <%#= Time.at(copy.due_date / 1000).strftime("%d/%m/%y") %>
              <%= copy.due_date %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>

</section>